.header{
    text-align: center;
    width: 100%;
    color: #0BBBD3;
    font-size: 48px;
    font-family: 'Inter';
    font-weight: 400px;
    margin: 18px 0px 18px 0px;
}
.headerstyle{
    color:black;
}
.bg_fon{
    height: 852px;
    background-image: url('../img/png/Успенський\ собор\ 1.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.contentpos{
    padding-left: 80px;
    padding-top: 218px;
}
.content1{
    background-image: url('../img/png/flag.png');
    height: 388px;
    padding-top: 60px;
    padding-bottom: 283px;
    padding-left: 59px;
    background-repeat: no-repeat;

}
.content1 > div{
    font-size: 64px;
    font-weight: 700;
    font-family: 'Inter';
    color: white;
}
.text1{
    padding-top: 60px;
    margin-right: 1003px;
    height: 64px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 48px;
    color:black;
}
.line_under1{
    border-bottom: 5px solid #33B8F1;
}
.box{
    display: inline-block;
    margin: 121px 35px 0px 0px;
    border: 1px solid black;
    width: 408px;
    height: 481px;
    border-radius: 30px;
    box-shadow: 0px 4px 6px 5px rgba(0, 0, 0, 0.25);
}
.box:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.town{
    width: 408px;
    height: 267px;
}
.link1{
    font-family: 'Inter';
    height: 59px;
    font-weight: 700;
    font-size: 36px;
    white-space: nowrap;
    width: 404px;
    text-decoration: none;
    color: black;
}
.link1:hover{
    opacity: 0.85;
    transition: 0.5s;
    color: #33B8F1;
}
.text3{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 53.45px;
    width: 396px;
    height: 149px;
    color: #595050;
    margin-top: 0px;
}
.text4{
    text-align: center;
    white-space: nowrap;
    padding-top: 59px;
    width: 100%;
    height: 64px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 48px;
    color:black;
}
.line_under2{
    border-bottom: 5px solid #33B8F1;
}
.img_heart{
    height: 877px;
    background-image: url('../img/png/Дизайн\ без\ назви\ \(1\)\ 1.png');
    background-repeat: no-repeat;
    background-position: center;
}
.button_heart{
    height: 74px;
    background-image: url('../img/png/Rectangle\ 10.png');
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 10px;
    margin-bottom: 182px;
}
.button_style{
    text-decoration: none;
    width: 100%;
    font-family: 'Inter';
    font-size: 48px;
    font-weight: 700;
    height: 80px;
    color: white;
}
.button_heart:hover{
    opacity: 0.85;
    transform: scale(1.1);
    transition: 0.5s;
}
.border_block{
    height: 405px;
    background-image: url('../img/png/Rectangle\ 11.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.header2{
    padding: 49px 0px 25px 0px;
    text-align: center;
    color:#0BBBD3;
    height: 86px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 64px;
}
.headerstyle2{
    color:white;
}
.link2{
    padding: 20px 0px 25px 0px;
}
.link3{
    padding: 20px 0px 25px 0px;
}
.linksstyle{
    text-decoration: none;
    font-family: 'Inter';
    width: 307px;
    height: 43px;
    font-size: 32px;
    font-weight: 400;
    color:#353949;
}
.linksstyle:hover{
    opacity: 0.85;
    color:#0BBBD3;
    transition: 0.5s;
    transform: scale(1.1);
}
.content{
    display: inline-block;
    height: 64px;
    width: 68px;
    background-image: url('../img/png/Ellipse\ 1.png');
    background-repeat: no-repeat;
    margin-right: 55px;
    padding-top: 14px;
    padding-left: 1px;
}
.linksstyle2{
    width: 41px;
    height: 37px;
}